body {
    background-color: #2b2b2b;
    color: #f1f1f1;
}

.navbar {
    background-color: #333;
}

.navbar a.nav-link {
    color: #f1f1f1;
}

.navbar a.nav-link:hover {
    color: #ddd;
}

.card {
    background-color: #444;
    color: #f1f1f1;
}

.card-body {
    border-top: 1px solid #555;
}

.btn-primary, .btn-success, .btn-warning, .btn-danger {
    background-color: #ff5e5e;
    border: none;
}

.btn-primary:hover, .btn-success:hover, .btn-warning:hover, .btn-danger:hover {
    background-color: #ff7f7f;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #3c3c3c;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #2b2b2b;
}

.table thead th {
    border-bottom: 2px solid #555;
    color: #f1f1f1;
}

.table td, .table th {
    border-top: 1px solid #555;
    color: #f1f1f1;
}