<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            background-color: #1f2937;
            color: #f1f1f1;
        }

    </style>
</head>
<body class="bg-gray-900 text-white flex items-center justify-center min-h-screen">
<nav class="w-full bg-gray-800 p-4 fixed top-0 z-10">
    <div class="container mx-auto flex justify-between items-center">
        <a href="#" class="text-xl font-bold">JavaCafe</a>
        <ul class="flex space-x-4">
            <li><a href="/login" class="hover:text-gray-300">Logout</a></li>
        </ul>
    </div>
</nav>

<div class="flex flex-col items-center justify-center min-h-screen transform scale-125">
    <h1 class="text-5xl font-bold mb-8 text-center">Admin Dashboard</h1>
    <div class="flex flex-col items-center gap-8 w-full max-w-lg">
        <a href="/admin/products"
           class="bg-green-600 p-8 rounded-lg shadow-lg block hover:bg-green-700 transition duration-300 w-full text-center cursor-pointer">
            <h5 class="text-2xl font-semibold mb-4">Manage Products</h5>
            <p class="text-lg text-gray-200">Add, edit, and delete products.</p>
        </a>
        <a href="/invoices"
           class="bg-yellow-600 p-8 rounded-lg shadow-lg block hover:bg-yellow-700 transition duration-300 w-full text-center cursor-pointer">
            <h5 class="text-2xl font-semibold mb-4">View Invoices</h5>
            <p class="text-lg text-gray-200">View and manage invoices.</p>
        </a>
    </div>
</div>
</body>
</html>